name: AWS Cloudformation stack

on:
  push:
    branches: [ production ]

jobs:
  deploy-to-production:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1
    
    - name: Deploy cloudformation to production
      run: aws cloudformation deploy --template-file ./template.yaml --stack-name production-books --parameter-overrides environment=production --capabilities=CAPABILITY_IAM
